<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="https://i.pinimg.com/originals/d3/97/8a/d3978a3830404998788e8c83dfa6f476.png" height="42"> 
    <span style="margin-left: 5px;"> Demo App</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Start new Rocket!</mat-card-title>
    <mat-card-subtitle>Remember about credentials!</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://static.vecteezy.com/system/resources/previews/000/427/675/non_2x/space-rocket-poster-vector.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button color="primary">START</button>
  </mat-card-actions>
</mat-card>


<router-outlet></router-outlet>